<div class="container">
  <svg></svg>
  <h2>розширений пошук</h2>
  <form action="">
    <input type="text" placeholder="Тип операції" />
    <input type="text" placeholder="Тип нерухомості" />
    <input type="text" placeholder="Стан" />
    <div>
      <label for="поверх"> </label
      ><select name="" id=""></select>
    </div>
    <div>
      <label for="кімнат"> </label
      ><select name="" id=""></select>
    </div>
    <div>
      <label for="площа, м"> </label
      ><select name="" id=""></select>
    </div>
    <div>
      <label for="Ціна, $"> </label
      ><select name="" id=""></select>
    </div>
    <input type="text" placeholder="розташування" />
    <div>
      <input type="checkbox" name="" id="" />
      <label for="">гараж поблизу</label>
    </div>
    <div>
      <div>
        <input type="radio" name="" id="" />
        <label for="">$</label>
      </div>
      <div>
        <input type="radio" name="" id="" />
        <label for="">$</label>
      </div>
      <div>
        <input type="radio" name="" id="" />
        <label for="">$</label>
      </div>
    </div>
    <button class="red">Шукати</button>
    <button>Очистити</button>
  </form>
</div>
