<div class="page">
  <h1>Інвестиції</h1>
  <p>
    Ми працюємо на ринку нерухомості понад 10 років. І за роки роботи, добре
    розуміємо, що будівництво – це уже не просто стіни та бетон. <br />

    Наша мета – створення особливих проектів, що відповідають сучасним потребам
    ринку та поєднують в собі продуману концепцію забудови та інфраструктури.
  </p>
  <div class="button-container">
    <button>Пошук проекту</button>
    <button>Пошук інвестора</button>
  </div>

  <app-photos-spinner></app-photos-spinner>
</div>

<app-footer></app-footer>
