<div class="page">
  <h1>про нас</h1>
  <p>
    Ми працюємо на ринку нерухомості понад 10 років. І за роки роботи, добре
    розуміємо, що будівництво – це уже не просто стіни та бетон. <br />
    Наша мета – створення особливих проектів, що відповідають сучасним потребам
    ринку та поєднують в собі продуману концепцію забудови та інфраструктури.
  </p>
  <h2>наші агенції</h2>
  <div class="elements-container">
    <app-office-card></app-office-card>
    <app-office-card></app-office-card>
    <app-office-card></app-office-card>
    <app-office-card></app-office-card>
    <app-office-card></app-office-card>
  </div>

  <h2>наші девелоперські проекти</h2>

  <div class="elements-container">
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
  </div>
</div>
<app-join-us> </app-join-us>
<app-footer></app-footer>
