<div class="container">
  <h1>про нас</h1>
  <p>
    Ми працюємо на ринку нерухомості понад 10 років. І за роки роботи, добре
    розуміємо, що будівництво – це уже не просто стіни та бетон.
  </p>
  <p>
    Наша мета – створення особливих проектів, що відповідають сучасним потребам
    ринку та поєднують в собі продуману концепцію забудови та інфраструктури.
  </p>
  <h2>наші агенції</h2>
  <app-office-card></app-office-card>
  <app-office-card></app-office-card>
  <app-office-card></app-office-card>
  <app-office-card></app-office-card>
  <app-office-card></app-office-card>
  <h2>наші девелоперські проекти</h2>
  <app-project-card></app-project-card>
  <app-project-card></app-project-card>
</div>
<app-join-us> </app-join-us>
<app-footer></app-footer>
