<div class="container">
  <h1>franko smart house</h1>
  <app-photos></app-photos>
  <p>
    “FRANKO smart house” – це житловий комплекс комфорт класу. Комплекс чудово
    вписався в розвинуту інфраструктуру мікрорайону Позитрон. Поруч є все
    необхідне для комфортного проживання Вашої родини: дитячий садок №4,
    школа-гімназія №3, міська поліклініка №4, торгівельні та розважальні центри
    (“Велес 555”, “Арсен”, “Епіцентр”), продуктові супермаркети, фітнес-центр.
  </p>
</div>
<app-footer></app-footer>
