<div class="container">
  <div class="image-with-arrows">
    <img src="assets/images/house1.png" alt="Image" />
    <div class="left-arrow">
      <img src="assets/icons/arrow-left.png" alt="" />
    </div>
    <div class="right-arrow">
      <img src="assets/icons/arrow-right.png" alt="" />
    </div>
  </div>
  <div class="img-container">
    <div><img src="assets/images/house1.png" alt="" /></div>
    <div class="active"><img src="assets/images/house1.png" alt="" /></div>
    <div><img src="assets/images/house1.png" alt="" /></div>
  </div>
</div>
