.vertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.horisontal {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  & div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
  }
  & span {
    display: inline-block;
  }
}
