<div class="page">
  <div class="horisontal">
    <img class="round" src="" alt="" />
    <h1>крук наталя</h1>
  </div>
  <p>
    Менеджер з продажу Агентств нерухомості "ЖитлоМаркет". <br />
    Досвід у сфері нерухомості з 2019 р.
  </p>
  <p>Всього пропозицій: <span>7</span></p>
  <div class="horisontal">
    <div class="vertical">
      <span> <img src="" alt="" />+ 38 (067) 671 21 12</span>
      <span> <img src="" alt="" />+ 38 (050) 671 21 12</span>
    </div>
    <div class="icons">
      <div><img src="" alt="" /></div>
      <div><img src="" alt="" /></div>
    </div>
  </div>
  <div class="button-container">
    <button class="red">Переглянути пропозиції</button>
    <button class="white">Переглянути пропозиції</button>
  </div>
</div>
