<div class="page">
  <div class="header-container">
    <img src="assets/icons/arrov.svg" alt="" class="icon" />
    <h1>вілла “bambetli”</h1>
  </div>
  <app-photos></app-photos>

  <p class="white">Продається готовий прибутковий діючий бізнес!</p>
  <p class="white">
    Котеджний комплекс "Bambetli " в с.Татарів з мальовничим краєвидом,
    розташований в екологічно чистій місцевості неподалік річки, що робить його
    привабливим для туристів з вподобаннями як активного, так і пасивного
    відпочинку.
  </p>
  <p class="white">
    Комплекс включає: - два дерев"яні комфортабельні двоповерхові будиночки з
    усіма зручностями площею по 300м2, з можливістю розміщення до 8 осіб в
    кожному; - один будинок площею 80м2; - огороджена територія, викладена
    бруківкою; - сезонний басейн біля котеджу; - земельна ділянка площею 25сот у
    приватній власності; - зручна транспортна розв'язка; - налагоджена співпраця
    з сайтом .com (системою онлайн-бронювання житла), що дає можливість
    постійного залучення клієнтів. Якщо Вас цікавить туристичний бізнес в
    екологічно чистих Карпатах - звертайтесь!
  </p>
  <button class="red">Дізнатися більше про обʼєкт</button>
</div>

<app-footer></app-footer>
