<div class="page">
  <h1>командa</h1>
  <div class="video">
    <video src=""></video>
    <div class="container">
      <img src="assets/icons/start.svg" alt="" />
    </div>
  </div>

  <h2>наші менеджери</h2>
  <div class="grid">
    <div>
      <img class="round" src="assets/images/person.png" alt="" /><span
        >Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="assets/images/person.png" alt="" /><span
        >Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="assets/images/person.png" alt="" /><span
        >Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="assets/images/person.png" alt="" /><span
        >Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="assets/images/person.png" alt="" /><span
        >Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="assets/images/person.png" alt="" /><span
        >Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="assets/images/person.png" alt="" /><span
        >Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="assets/images/person.png" alt="" /><span
        >Ковалик </span
      ><span>Катерина</span>
    </div>
  </div>
  <div class="/src//assets/images/person.png">
    Переглянути більше <img src="assets/icons/arrow-down.svg" alt="" />
  </div>
</div>
<app-join-us> </app-join-us>
<app-footer></app-footer>
