<div class="container">
  <h1>командa</h1>
  <video src=""></video>
  <h2>наші менеджери</h2>
  <div>
    <div>
      <img class="round" src="" alt="" /><span>Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="" alt="" /><span>Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="" alt="" /><span>Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="" alt="" /><span>Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="" alt="" /><span>Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="" alt="" /><span>Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="" alt="" /><span>Ковалик </span
      ><span>Катерина</span>
    </div>
    <div>
      <img class="round" src="" alt="" /><span>Ковалик </span
      ><span>Катерина</span>
    </div>
  </div>
  <div>Переглянути більше <svg></svg></div>
</div>
<app-join-us> </app-join-us>
<app-footer></app-footer>
