<div class="container">
  <div class="horisontal">
    <img class="round" src="" alt="" />
    <h1>крук наталя</h1>
  </div>
  <p>
    Менеджер з продажу Агентств нерухомості "ЖитлоМаркет". Досвід у сфері
    нерухомості з 2019 р.
  </p>
  <p>Всього пропозицій: <span>7</span></p>
  <div class="horisontal">
    <div class="vertical">
      <span> <svg></svg> + 38 (067) 671 21 12</span>
      <span> <svg></svg> + 38 (050) 671 21 12</span>
    </div>
    <div class="icons"><svg></svg> <svg></svg></div>
  </div>
  <div class="button-container">
    <button class="red">Замовити дзвінок</button>
  </div>
  <h2></h2>
  <app-house-card></app-house-card>
  <app-house-card></app-house-card>
  <app-house-card></app-house-card>
  <app-house-card></app-house-card>
  <div>Переглянути більше <svg></svg></div>

  <app-footer></app-footer>
</div>
